.movieCard {
  display: flex;
  height: 200px;
  width: 300px;
  background-color: #071c24;
  margin: 30px 15px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  overflow: hidden;
}

.movieCard:hover {
  box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.5);
}

.moviePosterContainer {
  height: inherit;
}

.moviePoster {
  display: flex;
  height: inherit;
  width: auto;
}
.noMoviePoster {
  display: flex;
  height: inherit;
  width: 133.08px;
  object-fit: contain;
}

.movieTitleContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 0px 0px 0px 8px;
  height: inherit;
  align-items: center;
  text-align: center;
}

.movieTitle {
  font-family: "Nunito";
  font-weight: 200;
  font-size: 20px;
  color: white;
}
