.movieListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
  height: 62vh;
  overflow: scroll;
  scroll-behavior: smooth;
  border: 2px solid #071c24;
}

::-webkit-scrollbar {
  display: none;
}

.arrowTopContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  position: absolute;
  right: 150px;
  top: 320px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 2px solid #071c24;
  cursor: pointer;
}
