.backgroundModal {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
}

.modalCard {
  display: flex;
  overflow: hidden;
  align-items: center;
  background-color: #fdf5e6;
  height: 500px;
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalCardDetail {
  text-decoration: underline;
}

.modalCardPoster {
  display: flex;
  align-items: center;
  height: inherit;
}
.modalCardMovieDetails {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: inherit;
  padding: 0 10px;
}

.modalCardCross {
  display: flex;
  justify-content: flex-end;
  width: inherit;
  padding: 5px 0;
}

.modalCardCrossContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #071c24;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  cursor: pointer;
}

.modalCardCrossContainer > span {
  font-size: 24px;
  color: #fdf5e6;
}
.modalCardCrossContainer > span:hover {
  font-size: 24px;
  color: red;
}

.modalCardMovieTitle {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: inherit;
}

.modalCardMovieTitle > span {
  margin-right: 10px;
  font-size: 32px;
}

.modalCardMovieReleaseAndRating {
  display: flex;
  padding: 10px 0;
  width: inherit;
}
.modalCardMovieReleaseAndRating > span {
  font-size: 18px;
  margin-right: 10px;
}

.overviewContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  line-height: 1.4;
}
.overviewContainer > span {
  font-size: 32px;
}
.overviewContainer > p {
  font-size: 18px;
}
