.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  height: 20vh;
  width: 100%;
  background-color: #071c24;
}

.logo {
  margin-left: 20px;
  height: 18vh;
  width: 18vh;
  object-fit: contain;
}

/* .moviesList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
} */

.nowPlaying {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 80vh;
  background-color: lightgrey;
}

.nowPlayingTitleContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  padding: 15px 0px;
  width: 100%;
}

.nowPlayingTitleContainer > span {
  font-weight: 300;
  font-size: 50px;
}

.movieListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  height: 60vh;
  overflow: scroll;
  scroll-behavior: smooth;
  border: 2px solid black;
}

::-webkit-scrollbar {
  display: none;
}

.movieCard {
  display: flex;
  height: 200px;
  width: 300px;
  background-color: #071c24;
  margin: 30px 15px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  overflow: hidden;
}

.movieCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.moviePosterContainer {
  height: inherit;
  /* background-color: yellow; */
}

.moviePoster {
  display: flex;
  height: inherit;
  width: auto;
  object-fit: contain;
}

.movieTitleContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 0px 0px 0px 8px;
  height: inherit;
  align-items: center;
  text-align: center;
  /* background: red; */
}

.movieTitle {
  font-family: "Nunito";
  font-weight: 200;
  font-size: 20px;
  color: white;
}

.backgroundModal {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
}

.modalCard {
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  background-color: #fdf5e6;
  height: 400px;
  width: 60%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
